.App {
  text-align: center;
}

.App-header {
  background-color: #eff1f2;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
    list-style-type: none;
}

.lol {
    display: flex;
    align-items: center;
    justify-content: center;
}