.mainBox {
    width:300px;
    background-color: #222534;
    padding:0.4em;
    border-radius: 5px;
    margin:0.1em;
    margin-bottom:0.2em;
}

.formBox {
    position:relative;
    justify-content: left;
    align-content: end;
}

.inputBox {
    padding-bottom:0.3em;
    text-align:left;
}

label {
    font-size:1rem;
    font-weight:500;
}

input {
    width:100%;
    height:20px;
    box-sizing: border-box;
    border-radius:5px;
    border:0px solid transparent;
    padding-left:0.3em;
}

.submitButton {
    padding:0.7em;
    color:white;
    background-color: transparent;
    border:1px solid white;
    border-radius:15px;
    transition:0.2s ease-in;
    cursor:pointer;
}
    .submitButton:hover {
        background-color: white;
        color:black;
        transition:0.2s ease-out;
        cursor:pointer;
    }

.submitButtonDisabled {
    cursor:auto;
    color:gray;
    padding:0.7em;
    background-color: transparent;
    border:1px solid gray;
    border-radius:15px;
    transition:0.2s ease-in;
}